---
import Layout from "../layout/Layout.astro";
import Styles from  '../styles/massage.module.css';
---

	<Layout pageTitle = {'Massage'}>
		<main class= {Styles.main}>
            <h1 class={Styles.massage_heading}>Massage </h1>
			

			<div class={Styles.container}>
				<h2 class={Styles.geschichte}>Unsere Geschichte</h2>
				<div class={`${Styles.geschichte_content} ${Styles.hide}`}>
					<p>Ich lebe seit 1996 in Berlin un bin seit dieser Zeit im Gesundheits- und Sozialwesen tätig.</p>
					<p>
						Nachdem ich im Jahr 2000 die Ausbildung zum staatlich anerkannten Heilererziehungspfleger absolviert hatte, arbeitete ich als Sozialarbeiter mit psysich kranken Erwachsenen und anschließend im betreuten Jugendwohnen als WG-Berater. Da ich sehr gerne mit und am Menschen arbeite, spezialierte ich mich danach auf Massagen und dierekte Körperhaltung.
					</p>
				</div>

			</div>
			<div class={Styles.container}>
				<h2 class={Styles.geschichte}>Massagen</h2>
			<div class={Styles.hide}>
				<div class={Styles.massagen_container}>
					<div class={Styles.massage}>
						<h3>Holistiche Massagen</h3>
						<p>"Holistisch" bedeutet ganzheitlich. Gemeint ist damit die Einheit von Körper und Geist. Ein holistisches Massagekonzept verdeutlich dem Behandelnden, dass er über dn Köroper uach die seelische Ebene seines Partnes berührt.</p>
						<p>
						Der Masierende berührt den ganzen Menschen von Kopf bis Fuß und bewirkt bei seinem Partner ein Wechselbad unterschiedlichster Emotionen.
						</p>
	
						<div class={Styles.massage_preis}>
							<p>30 min - <span>30$</span></p>
							<p>45 min - <span>45$</span></p>
							<p>60 min - <span>60$</span></p>
							<p>90 min - <span>90$</span></p>
						</div>
					</div>
	
					<div class={Styles.massage}>
						<h3>Thai Massagen</h3>
						<p>
							Die Thai-Massage besteht aus passiven, dem Yoga entnommenen Streckpositionen und Dehnbewegungen, Gelenkmobilisationen und Druckpunktmassagen. Vereinfacht kann sie daher als Kombination aus (passivem) Yoga und Akupressur zusammengefasst werden.
						</p>
	
						<div class={Styles.massage_preis}>
							<p>85 min - <span>85$</span></p>
							<p>45 min - <span>45$</span></p>
							<p>60 min - <span>60$</span></p>
							<p>90 min - <span>90$</span></p>
						</div>
					</div>
				</div>
	
				</div>

			</div>
			

			<div class={Styles.container}>
				<h2 class={Styles.geschichte}>Kontakt</h2>
			<div class="hide">
				<div>
					<p>Für Reservierungen und Informationen kannst uns wie folgt kontaktieren:</p>
					<div class={Styles.massagen_container}>
						<p class={Styles.massage_kontakt}>Mobil: 0177 299 5212</p>
						<p class={Styles.massage_kontakt}>frank@massage-deluxe.com</p>
					</div>
				
				</div>
			</div>
			

			</div>
			
		</main>
	</Layout>

	

	<script>

		const geschichteButtons = document.querySelectorAll('.geschichte');
		geschichteButtons.forEach((button) => {
			const nextElement = button.nextElementSibling;
			
			button.addEventListener('click', (e) => {
				
				changeHideShow(nextElement)
			})
		})

	
		
	
		function changeHideShow(nextEle) {
			if(nextEle.classList.contains('hide')){
				nextEle.classList.remove('hide');
				nextEle.classList.add('show')
			} else {
				nextEle.classList.add('hide');
				nextEle.classList.remove('show')

			}	
		}
		
	</script>