---
import '../styles/prenzlauer.css'

import { recommendationsPrenzlauerBerg } from "../data/data";

const {heading} = Astro.props;
---

<section class="recommendations">
    <h2 >{heading}</h2>

    <div class="items__container">	

    {
        recommendationsPrenzlauerBerg.map((item) => (
        <div class="item__container">
            <img style="width: 4.5rem;" loading="lazy" src={`/recommendations${item?.icon}`} alt="food foto">
            <a target="_blank" href={item?.link}><p>{item?.name}</p></a>
            
        </div>
        ))

        }

    </div>

</section>