---
import Layout from "../../layout/Layout.astro";
import Map from "../../components/Map.astro";
import Styles from "../../styles/contact.module.css";

import {ContactContent} from '../../data/data.js'
import { getLangFromUrl } from '../../utils/functions';

const lang = getLangFromUrl(Astro.url);

---

	<Layout pageTitle = {'Buchungen'} >
		<div class="container__grid">
			<main class={Styles['main']}>
				<h1>{ContactContent[lang]?.heading}</h1>
				<div class="container">

					<div>
						<h2>{ContactContent[lang]?.emailHeading}:</h2>
						<p>{ContactContent[lang]?.email}</p>
		
					</div>
	
				<div>
					
					<h2>{ContactContent[lang]?.adresse}:</h2>
	
					<p>
						franks apartment
						Frank Hüllmandel
						Dunckerstrasse 80A
						10437 Berlin - Germany
					</p>
					
				</div>
				<div>
					<h2>{ContactContent[lang]?.Telefon}:</h2>
					<p>{ContactContent[lang]?.MobilInfo}</p>
	
				</div>
	

	
				
	
				</div>
			   
			</main>
			<aside>
				<Map/>
			</aside>

		</div>
		
	</Layout>
