---
import Carousel from '../components/Carousel'
import  '../styles/description.css'
import Button from '../components/Button'
const {content} = Astro.props;
---
<section class="apartment">
    <h1 set:html={content.heading}></h1>
    <p set:html={content.description}></p>
    <div>
        <Carousel client:only/>
    </div>
    <div class="massage">
        <Button
            client:load
            text={content}
            massage={true}
        />
       
    </div>
    
       
    </div>
</section>
