---
import Carousel from '../components/Carousel/Carousel'

import '../styles/global.css'
import Styles from '../styles/description.module.css'

const {content} = Astro.props;

---
<section class={Styles.appartment}>
    <h1 set:html={content.heading}></h1>
    <p set:html={content.description}></p>
    <div>
        <Carousel client:only/>
    </div>
    <div class={Styles.massage}>
        <p set:html={content.massage}></p>
       
    </div>
    
       
    </div>
</section>
